{% extends "base.html" %}
{% block content %}
<!-- 상단 꾸미기 -->
<!Doctype html>
<div class="blue_sec">
    <div class="container">
        <div style="font-size:4rem;">
            <div class="top_info_lead">Login</div>
        </div>
    <div class="row">
        <div class="col-8 text-right">
            <span class="top_info_sub">아직 회원이 아니신가요? <a class="login_signup" style="font-weight:bold" href="{% url 'common:signup' %}">계정을 생성하세요.</a></span>
        </div>
    </div>
    </div>
</div>

<!-- 로그인 박스 -->
<div class="white_sec">
<div class="container">
    <div class="login_box">
    <form method="post" action="{% url 'common:login' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="textbox">
            <label for="username">아이디</label>
            <input type="text" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
            <label for="password">비밀번호</label>
            <input type="password" name="password" id="password"
                   value="{{ form.password.value|default_if_none:'' }}">
        </div>

        <button type="submit" class="login_btn">로그인</button>
    </form>
        <br>
        <div class="sign_and_find">
        <a href="{% url 'common:signup' %}">회원가입</a>
            <span>|</span>
        <a href="#find_id">아이디찾기</a>
            <span>|</span>
        <a href="#find_pw">비밀번호찾기</a>
        </div>
    </div>
</div>
</div>

{% endblock %}